img {
    width: 300px;
    height: 200px;
}

.card-style {
    background-color: #0F2738;
    border: 10px solid white;
    border-radius: 25px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .45) !important;
    color: papayawhip;
    padding: 10px;
    margin: 25px;
}

.btn-style {
    background-color: papayawhip;
    color: #0F2738;
    font-weight: 700;
    margin-top: 10px;
    padding: 5px 20px;
}

.btn-style:hover {
    background-color: peachpuff;
    color: #0F2738;
}